<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Ghost Skript 👻 | Raum wählen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <h1>Ghost Skript 👻</h1>
        <form method="POST">
            <input type="text" name="room" placeholder="Raum-Code eingeben..." required class="input-name">
            <button type="submit">Los geht's!</button>
        </form>
    </div>
</body>
</html>
